/*头尾各个页面相同样式*/
/*版心*/
.wrapper {
  margin: 0 auto;
  width: 1240px;
}
.shortcut {
  height: 52px;
  background-color: #333333;
}
.shortcut .wrapper {
  display: flex;
  justify-content: end;
  height: 52px;
}
.shortcut ul {
  display: flex;
  line-height: 52px;
}
.shortcut li a {
  padding: 0 15px;
  border-right: 1px solid #999;
  font-size: 14px;
  color: #fff;
}
.shortcut li .login {
  color: #5eb69c;
}
.shortcut li:last-child a {
  border-right: 0;
}
.shortcut li .iconfont {
  margin-right: 4px;
  vertical-align: middle;
}

/* 头部 */
.header {
  display: flex;
  margin-top: 22px;
  margin-bottom: 22px;
  height: 88px;
}
.header .logo {
  margin-right: 41px;
  width: 200px;
  height: 88px;
}
.header .logo h1 a {
  display: block;
  width: 200px;
  height: 88px;
  background-image: url(../images/logo.png);
  font-size: 0;
}
.header .nav {
  margin-top: 33px;
  margin-right: 28px;
}
.header ul {
  display: flex;
}
.header ul li a {
  margin-right: 47px;
  padding-bottom: 10px;
}
.header ul li .active,
.header ul li:hover a {
  color: #5eb69c;
  border-bottom: 2px solid #5eb69c;
}

/* 搜索 */
.header .search {
  display: flex;
  margin-top: 33px;
  margin-right: 45px;
  width: 170px;
  height: 34px;
  border-bottom: 2px solid #f4f4f4;
}
.header .search .iconfont {
  margin-right: 8px;
  font-size: 18px;
  color: #cccccc;
}
.header .search input {
  flex: 1;
  width: 0;
}
.header .search input::placeholder {
  font-size: 16px;
  color: #cccccc;
}
.header .cart {
  position: relative;
  margin-top: 32px;
}
.header .cart .iconfont {
  font-size: 24px;
}
.header .cart i {
  position: absolute;
  padding: 0 6px;
  top: 1px;
  left: 15px;
  height: 15px;
  background-color: #e26237;
  font-size: 14px;
  line-height: 15px;
  color: #fffefe;
  border-radius: 8px;
  text-align: center;
}

/* 底部 */
.footer {
  margin-top: 40px;
  height: 580px;
  background-color: #f5f5f5;
}
.footer .service {
  padding: 60px;
  height: 178px;
  border-bottom: 1px solid #e8e8e8;
}
.footer .service ul {
  display: flex;
  justify-content: space-evenly;
}
.footer .service ul li {
  display: flex;
  width: 190px;
  height: 58px;
}
.footer .service ul li h5 {
  margin-right: 20px;
  width: 58px;
  height: 58px;
  background-image: url(../images/sprite.png);
}
.footer .service ul li:nth-child(2) h5 {
  background-position: 0 -58px;
}
.footer .service ul li:nth-child(3) h5 {
  background-position: 0 -116px;
}
.footer .service ul li:nth-child(4) h5 {
  background-position: 0 -174px;
}
.footer .service ul li p {
  font-size: 28px;
  line-height: 58px;
}
.footer .help {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  height: 300px;
}
.help .left {
  display: flex;
}
.help .left dl {
  margin-right: 84px;
}
.help .left dl:last-child {
  margin-right: 0;
}
.help .left dt {
  padding-bottom: 30px;
  font-size: 18px;
}
.help .left dd {
  margin-bottom: 10px;
}
.help .left a {
  color: #969696;
}
.help .left .iconfont {
  color: #5eb69c;
}
.help .right ul {
  display: flex;
}
.help .right ul li:first-child {
  margin-right: 55px;
}
.help .right .pic {
  margin-bottom: 10px;
  width: 120px;
  height: 120px;
}
.help .right p {
  color: #969696;
  text-align: center;
}

/* 版权 */
.copyright {
  text-align: center;
}
.copyright p {
  margin-bottom: 10px;
  color: #a1a1a1;
}
.copyright p a {
  color: #a1a1a1;
}
